:root {
    --primary-color: #5e17eb;
    --secondary-color: #39ff35;
    --background-video-menu: url('')
}

.background-primary {
    background-color: var(--primary-color);
}

.background-secundary {
    background-color: var(--secondary-color);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.image-background {
    z-index: -1;
    position: absolute;
}